[phases.setup]
nixPkgs = ["bun", "nodejs_20", "python3", "gcc", "gnumake"]

[phases.install]
cmds = ["bun install"]

[phases.build]
cmds = ["bun run build"]

[start]
cmd = "bun .output/server/index.mjs"
